*{
font-size: 16px
}

h3{
    font-size: 18px;
}

h1{
    font-size: 32px;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header {
    background: linear-gradient(to top, #bc4e9c, #f80759);
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    width: 600px;
    margin: 0 auto;
    color: white
}

